<form method="post" action = "/merchants/<%= @merchant.id%>">

  <label for ="merchant-name">Enter Updated Merchant Name:  </label>
  <input id="merchant-name" type = "text" name = "name" value="<%= @merchant.name %>">

  <input type="submit" value="Update Merchant"/>

</form>
