<h1>Merchants</h1>
<br>
<a href="/merchants/new">New Merchant</a>
<br>
<br>
<br>
<h2>Merchant List</h2>
<br>
<table class = "trans-table">
  <tr>
    <th>Merchant Name</th>
    <th>Show</th>
    <th>Delete</th>
    </tr>
<% @merchants.each do |merchant| %>
  <tr>
    <td><a><%= merchant.name %></a></td>
    <td><form method = "get" action = "/merchants/<%=merchant.id%>">
    <input type = "submit" value = "Show Merchant"/></form></td>
    <td><form method = "post" action = "/merchants/<%=merchant.id%>/delete">
    <input type = "submit" value = "Delete Merchant"/></form></td>
  </tr>
<% end %>
<table>
<br>
