<p>Merchant: <%= @merchant_exists.name %> already exists in the table of Merchants.</p>
<br>
<p>So it can't be added again.<p>
<br>
<p>Sorry!<p>
<br>
<br>
<a href="/merchants/<%=@merchant_exists.id%>">Show Details</a>
