<form class="" action="/merchants" method="post">

  <label for ="merchant-name">Enter New Merchant Name:  </label>
  <input type = "text" name = "name" >

  <input type = "submit" value = "Create New Merchant">

</form>
