<form class="" action="/merchants" method="post">

  <label for ="merchant-name">Enter New Merchant Name:  </label><br><br>
  <input type = "text" name = "name" ><br><br>

  <input type = "submit" value = "Add New Merchant">

</form>
