<h1>MoneyCashboard Budget Tracker</h1>

<img src="/images/gold-pound-sign.png" alt="pound-sign" class="pound-img" /><img src="/images/gold-pound-sign.png" alt="pound-sign" class="pound-img" /><img src="/images/gold-pound-sign.png" alt="pound-sign" class="pound-img" />

<p>Allows the user to track their spending by Merchant, Date and Type of Expenditure (Tag Type)</p>
<br>
<p>To create, edit or delete Transactions, Merchants or Tag Types click on the navigation options on the left.</p>
<br>
<p>Note: the current spending limit for the user is £2,000.</p>
<br>
<p>A warning is generated if the user exceeds this limit.</p>
