<form class="" action="/tagtypes" method="post">

  <label for ="tagtype-type">Enter New Tag Type:  </label><br><br>
  <input id = "tagtype-type" type = "text" name = "type" ><br><br>

  <input type = "submit" value = "Add New Tag Type">

</form>
