<form class="" action="/tagtypes" method="post">

  <label for ="tagtype-type">Enter New Tag Type:  </label>
  <input id = "tagtype-type" "type = "text" name = "type" >

  <input type = "submit" value = "Create New Tag Type">

</form>
