<p>Tag Type: <%= @tagtype_exists.type %> already exists in the table of Tag Types.</p>
<br>
<p>So it can't be added again.<p>
<br>
<p>Sorry!<p>
<br>
<br>
<a href="/tagtypes/<%=@tagtype_exists.id%>">Show Details</a>
