<h1>Total Transaction Value: £<%= @display_total %></h1>
<br>
<h2>Total Spending by Month</h2>
    <% for i in 0..11 %>
        <p><%=Date::MONTHNAMES[i+1]%>: £<%= @monthly_totals[i] %></p>
    <% end %>
