<img src="/images/hazard.png" alt="warning" class="warning-img" />
<br>
<br>
<br>
<br>
<h1>Warning!</h1>
<br>
<p>Spending limit is:  £<%=SPENDING_LIMIT%></p><br>
<p>Current total amount spent is:  £<%=@display_total%></p><br>
<p>Time to tighten the purse strings!</p>
